<div class="mat-drawer-backdrop" [class.mat-drawer-shown]="_modelService.status != 'ready'">
  <mat-card class="popup-installing">
    <mat-card-title style="height:80px">
        <div style="padding:16px">
          <ng-container [ngSwitch]="_modelService.status">
          <mat-spinner *ngSwitchCase="'install'" [diameter]="40" style="margin:auto"></mat-spinner>
          <fa-icon *ngSwitchCase="'success'" icon="check" style="color:seagreen" transform="grow-10 down-8"></fa-icon>
          <fa-icon *ngSwitchCase="'failed'" icon="exclamation" style="color:orangered" transform="grow-10 down-8"></fa-icon>
        </ng-container>
        </div>
    </mat-card-title>
    <mat-card-content>
      <ng-container [ngSwitch]="_modelService.status">
        <p *ngSwitchCase="'install'">Installing</p>
        <p *ngSwitchCase="'success'">Success</p>
        <p *ngSwitchCase="'failed'">Failed</p>
      </ng-container>
    </mat-card-content>
  </mat-card>
</div>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened [closed]="false" style="width:240px">
    <div style="padding:8px">
      <mat-form-field appearance="outline" class="module-form-field">
        <mat-label>Module name</mat-label>
        <input matInput
          [disabled]="_modelService.installing"
          [(ngModel)]="_modelService.data['module_name']"
          [ngModelOptions]="{standalone: true}" />
      </mat-form-field>
    </div>
    <mat-nav-list dense>
      <h3 mat-subheader>Models</h3>
      <ng-container *ngFor="let model of _modelService.data.models">
        <mat-list-item
          (click)="_modelService.selectedModel=model"
          [class.active]="_modelService.selectedModel==model">
          {{ model.neuron }}
        </mat-list-item>
      </ng-container>
    </mat-nav-list>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <mat-list-item (click)="add()">Add</mat-list-item>
      <mat-list-item (click)="_modelService.reset()">Reset</mat-list-item>
      <mat-list-item (click)="summit()">Generate</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content style="height:100vh">
    <ng-container *ngIf="_modelService.selectedModel.hasOwnProperty('neuron')">
      <div style="padding:8px; height:100%">
        <form>
          <mat-form-field>
            <input matInput
              [disabled]="_modelService.installing"
              placeholder="neuron"
              [(ngModel)]="_modelService.selectedModel.neuron"
              [ngModelOptions]="{standalone: true}" />
          </mat-form-field>

          <ng-container *ngFor="let block of blocks">
            <mat-form-field>
              <textarea matInput cdkTextareaAutosize
                placeholder="{{ block }}"
                [(ngModel)]="_modelService.selectedModel[block]"
                [ngModelOptions]="{standalone: true}"></textarea>
            </mat-form-field>
          </ng-container>
        </form>
      </div>
    </ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>
