.popup-installing {
  position: fixed;
  left: 50%;
  top: 50%;
  text-align: center;
  margin-top: -100px;
  margin-left: -50px;
  height: 100px;
  width: 100px
}

mat-form-field {
  width: 100%;
}

.module-form-field .mat-form-field-wrapper {
  margin-bottom: -1.5em !important;
}
